<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3>Listing Details</h3>
    </div>
    <div class="card listing-card show-card col-6 offset-3 mt-3">
        <img src="<%= listing.imageUrl %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b> <br>
                <%= listing.description %> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br>
                <%= listing.location %>, <%= listing.country %> <br>
            </p>
        </div>
    </div>
    <div class="btns">
        <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark update-btn mb-3 col-1 offset-3">Edit</a>
        <form action="/listings/<%= listing.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-dark mb-3 offset-5">Delete</button>
        </form>
    </div> 
    <hr>
    <h3>Leave a review</h3> 
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea id="comment" name="review[comment]" rows="4" cols="50" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add a comment.</div>
        </div>
        <button type="submit" class="btn btn-outline-dark mb-3 mt-2 offset-5">Submit Review</button>
    </form>
    
    <hr>

    <h3>Reviews</h3>
    <% if(listing.reviews.length === 0) { %>
        <p>No reviews yet. Be the first to review!</p>
    <% } else { %>
        <div class="row">
                <% listing.reviews.forEach(review => { %>
                    <div class="card col-md-5 mb-3 ms-3 p-3">
                        <div class="card-body">
                            <h5 class="card-title">Username</h5>
                            <p class="card-text"><%= review.comment %></p>
                            <p class="card-text"><%= review.rating %> stars</p>
                            <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
        </div>
    <% } %>
</div>